@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");

.Home {
    .filter-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
        margin-block: 2rem;
        border-bottom: 2px solid #e3e3e3;

        label {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            font-family: "Dancing Script";
            font-size: 1.4rem;

            select {
                margin-left: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                border: none;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease;
                font-family: cursive;

                option {
                    background-color: white;
                    color: black;
                    font-family: cursive;
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    .recipes {
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        height: 74vh;
        overflow: auto;
        gap: 2rem;

        .recipe {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.04);
            }

            .recipe-img {
                width: 250px;
                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }

            .recipe-name {
                font-family: "Source Serif Pro";
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
